[submodule "engine/extern/glfw"]
	path = engine/extern/glfw
	url = https://github.com/2Bro-Games/glfw.git
[submodule "engine/extern/glm"]
	path = engine/extern/glm
	url = https://github.com/2Bro-Games/glm.git
