[submodule "Engine/Extern/glfw"]
	path = Engine/Extern/glfw
	url = https://github.com/2Bro-Games/glfw.git
[submodule "Engine/Extern/glm"]
	path = Engine/Extern/glm
	url = https://github.com/2Bro-Games/glm.git
